.myrows{
    border: 3px solid darkgreen;
    padding: 5px;
}
.mycols{
    border: 3px solid red;
}
.mycontainer{
    background-color: cyan !important;
}
#topHeader{
    background-color: aliceblue;
    border-bottom: 1px solid grey;
}
#topHeader a{
    color: rgb(29, 1, 1);
    font-weight: bold;
    font-size: 0.88rem;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/* Footer Start */
.full-footer{
    background-color: #838fb0;
}
.top-footer p{
    color: white;
}
.top-footer h3{
    color: white;
}
.top-footer a{
    color: rgb(26, 25, 25);
}
.full-footer {
    
    bottom: 0;
    width: 100%;
}

/* Footer end */

/* Home Page Start */
.section-cls{
    background-color: #c76e73;
    color: white;
}
/* Home Page end */